/* General container styles */
.event3-container {
    background-color: #39472c; /* Deep green background */
    padding: 0;
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .event3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0; 
    height: 80%; 
    width: 100%; 
    align-items: center; 
    justify-items: center; 
    position: relative; 
    padding: 325px;
  }
  
  .event3-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    overflow: hidden;
  }
  
  .event3-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0;
    box-shadow: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .event3-image.visible img {
    opacity: 1;
    transform: translateY(0);
  }
  
  .event3-leaf-left-container,
  .event3-leaf-right-container {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .event3-leaf-left-container.visible,
  .event3-leaf-right-container.visible {
    opacity: 1;
  }
  
  .event3-leaf-left-container {
    left: -6%;
  }
  
  .event3-leaf-right-container {
    right: -6%;
  }
  
  .event3-leaf-left,
  .event3-leaf-right {
    width: 500px;
    height: auto;
  }
  
  @media (max-width: 1024px) {
    .event3-container {
      height: auto;
      padding: 10px;
    }
    .event3-grid {
      width: 85%;
      height: 70%;
    }
    .event3-leaf-left,
    .event3-leaf-right {
      width: 500px;
    }
  }
  
  @media (max-width: 768px) {
    .event3-container {
      padding: 10px;
      height: auto;
    }
    .event3-grid {
      width: 75%;
      height: 60%;
      padding: 30px;
    }
    .event3-image img {
      object-fit: cover;
    }
    .event3-leaf-left-container {
      left: -35%;
    }
  
    .event3-leaf-right-container {
      right: -35%;
    }
  
    .event3-leaf-left,
    .event3-leaf-right {
      width: 300px;
    }
  }
  