.event4-container {
    background-color: #39472c; 
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event4-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    height: 100%;
    width: 70%;
    align-items: stretch;
    justify-items: stretch;
}

.event4-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.event4-image.visible {
    opacity: 1;
    transform: translateY(0);
}

.event4-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    box-shadow: none;
}

@media (max-width: 1024px) {
    .event4-grid {
        width: 80%;
    }

    .event4-image img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .event4-grid {
        width: 90%;
    }

    .event4-image img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .event4-grid {
        width: 95%;
    }

    .event4-image img {
        width: 100%;
        height: 100%;
    }

    .event4-container {
        height: 37vh;
    }
}
