.collage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  color: #fff;
  background-image: url("../images/frames/background-frame.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  padding: 0; /* Remove any padding */
  margin: 0; /* Ensure no outer margin */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.collage-container.visible {
  opacity: 1;
}

.images-wrapper {
  display: flex;
  height: 100%; /* Take full height of the container */
  align-items: center;
  overflow: hidden; /* Ensure no overflow */
}

.image {
  height: 100%; /* Stretch to the full height of the container */
  width: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area properly */
  margin: 0; /* Remove any margin around the images */
  opacity: 0;
  transform: scale(0.95); /* Optional for subtle animation */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.image.visible {
  opacity: 1;
  transform: scale(1); /* Animate back to full size */
}

/* Responsive Design */
@media (max-width: 768px) {
  .collage-container {
    padding: 0; /* Ensure no padding for smaller screens */
    height: 30vh; /* Adjust height for smaller screens */
  }

  .images-wrapper {
    height: 100%; /* Maintain full height in smaller screens */
  }

  .image {
    height: 100%; /* Stretch to the container’s height */
    width: auto; /* Keep aspect ratio */
  }
}
