.honest-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/honest/honest-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

.honest-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.honest-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  animation: slideIn 1.5s ease-out;
}

.collage-left, .collage-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.collage-left {
  left: 8%;
  animation-delay: 0.5s; /* Delay the left image */
}

.collage-right {
  right: 8%;
  animation-delay: 1s; /* Delay the right image */
}

.collage-left img, .collage-right img {
  width: 400px;
  height: auto;
}

.honest-image {
  position: absolute;
  z-index: 2;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 1s; /* Delay the center image */
}

.honest-image img {
  width: 600px;
  height: auto;
}

@media (max-width: 768px) {
  .honest-section {
      height: 30vh;
  }

  .collage-left img, .collage-right img {
      width: 80%;
      height: auto;
  }

  .honest-image img {
      width: 55%;
  }

  .honest-container {
      justify-content: center;
      flex-direction: row;
  }

  .collage-left {
      margin-left: 50%;
  }

  .collage-right {
      margin-right: 50%;
  }

  .honest-image {
      left: 50%;
      transform: translateX(-50%);
  }
}

/* Keyframes for the animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}
