/* Prevent horizontal scrolling */
body {
    overflow-x: hidden;
}

/* Main container style */
.pricing-more-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    background-color: #e0f7e8;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out; /* Add fade-in animation */
}

.pricing-more-image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    animation: slideInFromLeft 1.5s ease-in-out; /* Slide-in animation from left */
}

.pricing-more-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.pricing-more-details-section {
    flex: 1;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    animation: slideInFromRight 1.5s ease-in-out; /* Slide-in animation from right */
}

.pricing-more-wed-title {
    font-size: 2.5rem;
    color: #333;
    margin-top: 0px;
    animation: fadeInUp 1s ease-out; /* Fade and slide-up effect */
}

.pricing-more-other-subtitle {
    font-size: 1.5rem;
    color: #333;
    margin-top: -30px;
    animation: fadeInUp 1.3s ease-out 0.3s; /* Fade and slide-up effect with delay */
}

.pricing-more-features {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10%;
    margin-left: -5%;
    animation: fadeInUp 1.5s ease-out 0.5s; /* Fade in with delay */
}

.pricing-more-features li {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: 400;
}

.pricing-more-summary {
    margin-top: 20px;
    animation: fadeInUp 1.8s ease-out 0.8s;
}

.pricing-more-total-price {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -5%;
    animation: fadeInUp 2s ease-out 1s;
}

.pricing-more-infos-container {
    position: relative;
    height: 78vh;
    background-image: url('../images/pricing/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    animation: fadeIn 1.5s ease-in-out 0.8s;
}

.pricing-more-infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    color: rgb(20, 20, 20);
    z-index: 1;
}

/* Animation for fading in elements */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation for sliding in from left */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation for sliding in from right */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Animation for fading and sliding up */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 1200px) {
    .pricing-more-image {
        height: 85vh;
    }

    .pricing-more-details-section {
        padding-left: 15px;
    }

    .pricing-more-wed-title {
        font-size: 2.8rem;
    }

    .pricing-more-other-subtitle {
        font-size: 2rem;
    }

    .pricing-more-features li {
        font-size: 2rem;
    }

    .pricing-more-total-price {
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    .pricing-more-image {
        height: 75vh;
    }

    .pricing-more-details-section {
        padding-left: 10px;
    }

    .pricing-more-wed-title {
        font-size: 2.5rem;
    }

    .pricing-more-other-subtitle {
        font-size: 1.8rem;
    }

    .pricing-more-features li {
        font-size: 1.8rem;
    }

    .pricing-more-total-price {
        font-size: 1.9rem;
    }
}

@media (max-width: 600px) {
    .pricing-more-container {
        height: 37vh;
    }

    .pricing-more-image {
        height: 37vh;
    }

    .pricing-more-details-section {
        padding-left: 5px;
    }

    .pricing-more-infos-container {
        position: relative;
        height: 37vh;
        margin-top: -13%;
    }

    .pricing-more-wed-title {
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .pricing-more-other-subtitle {
        font-size: 0.5rem;
        margin-top: -6%;
    }

    .pricing-more-features {
        margin-top: 20%;
    }

    .pricing-more-features li {
        font-size: 0.4rem;
        margin-left: -30%;
    }

    .pricing-more-total-price {
        font-size: 0.4rem;
        margin-left: -30%;
        margin-top: -15px;
    }
}
